body, h1, h2, h3, h4, h5, h6, p{
margin: 0;
padding: 0;
}

p{
 font-family: 'Lato', sans-serif;
 line-height: 160%;
 font-size: 18px;
 font-weight: 300;
}

@font-face {
  font-family: Akkurat;
  src: url(../content/Fonts/Akkurat.ttf);
}

@font-face {
  font-family: Kaushan;
  src: url(../content/Fonts/KaushanScript-Regular.otf);
}

@font-face {
  font-family: LeagueSpartan;
  src: url(../content/Fonts/LeagueSpartan-Bold.otf);
}

/* ==========================================
                COMMON CLASSES
=========================================== */

.titleSection{
  font-family: LeagueSpartan;
  color: #000;
  font-size: 2em;
}

.globalText{
    font-family: Akkurat;
    line-height: 35px;
    font-size: 1em;
}

h4{
  font-family: LeagueSpartan;
  color: white;
  font-size: 1em;
}
/* ==========================================
            NAVIGATION FROM HERE
=========================================== */
nav{
  width: 250px;
  height: 100vh;
  background-color: black;
  z-index: 9;
  position: fixed;
  border-right: 2px solid gray;
  margin-left: -252px;
  text-align: center;
  padding-top: 100px;
}

.navToggle{
  animation-name: showMenu;
  animation-duration: .5s;
  -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   -o-animation-fill-mode:forwards;
   -ms-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
}

@keyframes showMenu {
    from {margin-left: -252px;}
      to {margin-left: 0px;}
}

#hamburgerMenuHolder{
  width: 35px;
  height: 25px;
  position: fixed;
  z-index: 10;
  left: 20px;
  top: 20px;
}

#barOne, #barTwo, #barThree {
    width: 30px;
    height: 4px;
    border-radius: 1px;
    background-color: gray;
    margin: 5px 0;
    transition: 0.4s;
}

.change #barOne {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: white;
}

.change #barTwo {opacity: 0;}

.change #barThree {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
    background-color: white;
}

#nav h3{
  color: white;
  font-family: Akkurat;
  font-size: 36px;
}

hr{
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(165, 165, 165, 0), rgba(165, 165, 165, 0.75), rgba(165, 165, 165, 0));
}

nav ul{
list-style-type: none;
padding: 0px;
text-align: left;
}

nav ul li{
  color: white;
  font-family: Akkurat;
  font-weight: 300;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 75px;
}

nav ul li a{
  width: 100%;
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
  animation-name: navMenuAnimation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards;
}


@keyframes navMenuAnimation {
  0%   {color: gray;}
  30% {color: white;}
  50% {color: gray;}
  70% {color: white;}
  100% { color: gray; }
}
/* ==========================================
            HOMEPAGE FROM HERE
=========================================== */

#homepage{
  width:100%;
  height:100vh;
  min-height: 768px;
  /*background-image: url(../content/Homepage/LonelyForest.jpg);
  background-size: cover; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

#homepageContentHolder{
  width: 100%;
}

#topTextHomepage{
  font-family: LeagueSpartan;
  font-size: 110px;
  text-align: center;
  color: #fff;
  margin: auto;
  line-height: 120px;
}
#blackHolderHomepage{
  height:70px;
  width:100%;
  background-color: #000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottomTextHomepage{
  font-family: Akkurat;
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin: 0;
}

#scrollDownHomepage{
  display: block;
  width: 1.6%;
  margin:auto;
  position: absolute;
  bottom: 10px;
}

/* ==========================================
            WE ARE JOURNEY FROM HERE - PAV
=========================================== */

#weAreJourneySection{
  width: 1200px;
  height: 100vh;
  max-width: 80%;
  /*padding: 300px 10% 350px 10%;*/
  padding: 0px 10% 0px 10%;
  margin: auto;
}

#leftJourney{
  width:50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-top: 35vh;
}

#rightJourney{
  width:50%;
  height: auto;
  float: right;
  padding-top: 35vh
}

#textHolderJourney{
  width: 80%;
  margin-right: 20%;
}

#JourneyText{
  line-height: 35px;
}

#textJourney{
  margin-top: 20px;
  font-size: 30px;
  line-height: 160%;
  font-weight: bold;
  color: gray;
}

#peopleImage{
  width: 65%;
  padding-top: 10px;
  margin-left: 5%;
  height: auto;
}

/* ==========================================
            INTRODUCTION FROM HERE
===========================================
#introSection{
  width: 100%;
}

#leftHolderIntro{
  width: 50%;
  height: 100vh;
  min-height: 768px;
  background-image: url(../content/introLeftImage.jpg);
  background-size: cover;
  float: left;
}

#rightHolderIntro{
  width:50%;
  height: 100vh;
  min-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rightContentHolderIntro{
  width:80%;
}

#secondTitleIntro{
  font-family: Kaushan;
  color:#a6a6a6;
  margin-top:100px;
}

#iconsHolderIntro{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
}

.iconIntro{
  margin: auto;
  flex: 1;
  width: 100%;
}

#iconsHolderIntro object{
  width:15%;
}

#bottomTextIntro{
  margin-top: 100px;
} */

/* ==========================================
            ABOUT US FROM HERE - PAV
=========================================== */

#aboutUsGrayHolder{
  width: 100%;
  background-color: #efefef;
}
#aboutSection{
  width: 1200px;
  height: 100vh;
  background-color: #efefef;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  overflow: auto;
}

#leftAbout{
  width:50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding-top: 30vh;
}

#rightAbout{
  width:50%;
  height: auto;
  float: right;
  padding-top: 30vh;
}

#textHolderAbout{
  width: 80%;
  margin-right: 20%;
}

#aboutText{
  line-height: 35px;
}

#textAbout{
  margin-top: 20px;
  color: gray;
}

#cubeImage{
  width: 40%;
  padding-top: 80px;
  margin-left: 10%;
  height: auto;
}


/* ==========================================
            ABOUT US FROM HERE
===========================================

#aboutSection{
  width: 100%;
}

#leftAbout{
  width:50%;
  height: 100vh;
  min-height: 768px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rightAbout{
  width:50%;
  height:100vh;
  min-height: 768px;
  background-image: url(../content/aboutImage.jpg);
  background-size: cover;
  float: right;
}

#textHolderAbout{
  width:80%;
}

#aboutText{
  line-height: 35px;
}

#textAbout{
  margin-top: 100px;
} */



/* ==========================================
            SERVICES FROM HERE
===========================================

#servicesSection{
  width:100%;
  height:100vh;
  min-height:768px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#servicesHolder{
  width:90%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#serviceTitle{
  display: block;
  width:100%;
  margin-bottom: 100px;
}

.secondTitleService{
  color: #7f7f7f;
  font-family: LeagueSpartan;
  text-align: center;
}

.iconService{
  width: 50%;
  margin:auto;
  margin-top: 50px;
  display: block;
}

.oneServiceContent{
  width: 30%;
}

.greenTextSection{
  color:#7edf8e;
  font-family: Kaushan;
  text-align: center;
  margin-top: 50px;
}

.oneServiceContent p{
  text-align: center;
  margin-top: 50px;
} */

/* ==========================================
            SERVICES FROM HERE - PAV
=========================================== */

#servicesSection{
  width:100%;
  height: 100vh;
  min-height:768px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#servicesHolder{
  width: 1200px;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#serviceTitle{
  display: block;
  width:100%;
  margin-bottom: 100px;
}

.secondTitleService{
  color: #7f7f7f;
  font-family: LeagueSpartan;
  text-align: center;
}

.iconService{
  width: 100px;
  height: auto;
  margin:auto;
  margin-top: 50px;
  display: block;
}

.oneServiceContent{
  width: 30%;
}

.greenTextSection{
  color:#7edf8e;
  font-family: Kaushan;
  text-align: center;
  margin-top: 50px;
}

.oneServiceContent p{
  text-align: left;
  margin-top: 50px;
  padding-left: 30%;
}



/* ==========================================
            PROJECTS FROM HERE
=========================================== */
#projectsSection{
  width: 100%;
  margin-bottom: 100px;
  margin-top: 150px;
}


#projectsHolder{
  width:90%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.globalTextProjects{
   font-family: Akkurat;
    line-height: 35px;
    font-size: 15px;
    line-height: 150%;
    padding-bottom: 20px;
    padding-right: 3%;
    padding-left: 3%;
}

.oneProjectContent{
  width: 25%;
  margin-left: 4%;
  margin-right: 4%;
}

.secondTitleProjects{
  font-family: LeagueSpartan;
  color: #f49385;
  font-size: 18px;
  margin-bottom: 40px;
  padding-left: 3%;
}

.imagesOnTheProject{
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}



/*==========================================
            CONTACT US FROM HERE
=========================================== */

#contactFormSection{
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  background-color: #383838;
  display: flex;
}

#contactFormSection .titleSection{
  color: white;
  margin-bottom: 20px;
}

#holderForContactForm{
  width: 1200px;
  max-width: 80%;
  height: 500px;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 70px;
  padding-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
}

.journey{
  float: right;
  margin-top: -20px;
  letter-spacing: 5px;
}

#journeyBeginsText{
  padding-top: 20px;
  padding-bottom: 40px;
}

form{
  width: 450px;
  margin-left: 3%;
  height: 450px;
  overflow: auto;
}

label{
  width: 100px;
  font-family: LeagueSpartan;
  color: gray;
  display: block;
  float: left;
  margin-top: 40px;
}

input, textarea{
  margin-right: 10px;
  width: 300px;
  float: right;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 25px;
  border-radius: 1px;
  border: none;
}

textarea{
  resize: none;
}

label:after { content: ": " }

#submitFormButton{
  width: 140px;
  background-color: gray;
  box-shadow: 1px 1px 2px gray;
  margin-bottom: 20px;
  margin-right: 10px;
  transition: 1s;
}

#submitFormButton:hover{
  background-color: darkgray;
  box-shadow: none;
  cursor: pointer;
}

#requiredFieldsMessage, #errorMessage{
  color: white;
  background-color: #ef5656;
  border-left: 4px solid darkred;
  border-radius: 3px;
  padding: 3px 0px 3px 3px;
  text-align: left;
  width: 250px;
  display: none;
  max-width: 100%;
  margin-top: -100px;
}

#successFormMessagePHP{
  color: white;
  background-color: #079e3c;
  border-left: 4px solid #386031;
  border-radius: 3px;
  padding: 3px 0px 3px 3px;
  text-align: left;
  width: 350px;
  max-width: 100%;
  margin-top: -100px;
  margin-bottom: 66px;
}


#socialIconsHolder{
width: 120px;
height: 42px;
float: right;
}

.socialIcons{
  height: 40px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
}
