@media screen and (max-width: 800px) {

	/* ==========================================
              HOMEPAGE FROM HERE
  =========================================== */

	#scrollDownHomepage{
		width:25px;
	}

	/* ==========================================
							WE ARE JOURNEY FROM HERE - PAV
	=========================================== */
	#leftJourney{
		padding-top: 0;
		margin-top: 50px;
	}

	#textJourney{
		margin-bottom: 50px;
	}

	#rightJourney{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 0;
	}

	#peopleImage{
		width:100%;
	}



	/* ==========================================
							ABOUT US FROM HERE - PAV
	=========================================== */


	#leftAbout{
		padding-top:0;
		margin-top: 50px;
	}



	} /* END OF THE MEDIA QUERY 800PX */
